img{
    position: relative;
    left:60px;
    top:80px;
    height: 400px;
    width:400px

}
.name{
    display:flex;
    justify-content: center;
    position: relative;
    top: 10px;
    color:white;
    font-weight:600px
}
.display{
    


}
