.title{
    display:flex;
}
.main{
 
}
#menu-active:checked + .menu {
    transform: translateX(0);
}
#menu-active{
    opacity: 0;
}
.menu{
  opacity: 0.8;
  width: 170px;
  background-color:#2e3032 ;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  border-right: 5px solid rgb(255, 144, 0);
  padding: 20px;
  transform: translateX(-100%);
  transition: 1s;
 }

.search{
    display: flex ;
}
#searchName{
    flex:5;
    height:20px;
    width: 50px;
}
#searchButton{
    position: relative;
    top:3px;
    left:10px;
    fill:white;
    flex:1;
    width: 20px; 
    height: 20px; 

}
#searchButton:hover{
    background-color: grey;
}
.list{
    position: relative;
    right:30px;
    color:white;
    font-size: x-large;
}

.type{

}
.brand{


}

#buyshop{
    style="margin:0px 0px 0px 0px;"
    flex:1;
    display:inline;
    color:white;
}
.shop{
    margin:20px 0px 20px 0px; 
    padding:10px; 
    background-color:rgb(255, 144, 0); 
    display:inline;
    border-radius:30px;
}
.block{
    flex:1;
    margin:0px 0px 0px 750px;
}
.button{
    flex:1;
    display:inline;
    width: 40px; 
    height: 40px; 
    fill:white;

}

#setting{
    flex:1;
}
#setting:hover{
    background-color: grey;
}
#man{
    flex:1;
}
#man:hover{
    background-color: grey;
}
